	<!-- Experiences heading-->
	<div class="row pad-top pad-bottom">
		<div class="large-12 columns text-center">
			<div class="page-title">
				<h2>Experiences</h2>
				<p class="sub-header">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
			</div>
		</div>
	</div>
	<!-- end of Experiences heading-->
	<!-- Experiences block -->
	<div class="row pad-bottom experience">
		<div class="large-4 columns text-center">
			<h2 class="ex-year">2005-2007</h2>
			<h4>Web designer</h4>
			<h6>ATGC Informatics</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat. </p>
		</div>
		<div class="large-4 columns text-center">
			<h2 class="ex-year">2009-2012</h2>
			<h4>Web WebDeveloper</h4>
			<h6>Aktish Solution</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat. </p>
		</div>
		<div class="large-4 columns text-center">
			<h2 class="ex-year">2012-PRESENT</h2>
			<h4>Developer</h4>
			<h6>ATGC Informatics</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat. </p>
		</div>
	</div>
	<!-- End of Experiences block -->
