<a id="about-scroll"></a>
<section id="about" class="skin-secondary clearfix" >
<%= image_tag "21-content_header_1.png", class: "parallax-content_header" %>
	<!-- About Heading-->
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="page-title">
				<h1 id="about-shuffle-latter">
Who I am
</h1>
				<p class="sub-header">Solid comms, project milestones and regular updates.</p>
			</div>
		</div>
	</div>
	<!-- End About Heading-->
	<!-- About Description-->
	<div class="row pad-top">
		<div class="large-4 columns about">
			<i class="fa fa-smile-o"></i>
            <h4 class="about-us-title">Who i am</h4>
            <p class="about-us-text">Habitasse pulvinar elit magnis tritue elementum auctor placerat sit ut cu auctor. Habitasse pulvinar elit magnis tritue elementum auctor placerat sit ut cu auctor.</p>
        </div>

		<div class="large-4 columns about">
			<i class="fa fa-bullhorn"></i>
            <h4 class="about-us-title">What i do</h4>
            <p class="about-us-text">Habitasse pulvinar elit magnis tritue elementum auctor placerat sit ut cu auctor. Ac egestas mauris proin! Habitasse pulvinar elit magnis tritue elementum auctor placerat sit ut cu auctor.</p>
        </div>
		<div class="large-4 columns about">

			<i class="fa fa-magic"></i>
            <h4 class="about-us-title">How i work</h4>
            <p class="about-us-text">Habitasse placerat sit ut cu auctor. Ac egestas mauris proin! Habitasse pulvinar elit magnis tritue elementum auctor placerat sit ut cu auctor.</p>
        </div>
	</div>
	<!-- End About Description-->
	<!-- Process Heading-->
	<div class="row pad-normal">
		<div class="large-12 columns text-center">
			<div class="page-title">
				<h2>Create something out of nothing. Get stuff done.</h2>
				<p class="sub-header">I create value on digital platforms by crafting effective tools and compelling experiences.</p>
			</div>
		</div>
	</div>
	<!-- End process Heading-->
	<!-- Process-->
	<div class="row pad-top pad-bottom process-row">
		<div class="large-3 columns">
			<div class="circle circle-selfless">
				<div class="flipper">
					<!-- Process round front -->
					<div class="front">
						<h1><i class="fa fa-flask"></i></h1>
						<h4>Discovery & Research</h4>
						<p>Mapping the Unknown</p>
					</div>
					<!-- End Process round front -->
					<!-- Process round Back side -->
					<div class="back">
						<div class="text-line text-line-small"></div>
						<p>We uncover the facts and figures that help us understand you better.</p>
					</div>
					<!-- End Process round Back side -->
				</div>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="circle circle-selfless">
				<div class="flipper">
					<!-- Process round front -->
					<div class="front">
						<h1><i class="fa fa-tint"></i></h1>
						<h4>Design & Prototype</h4>
						<p>Shaping the Vision</p>
					</div>
					<!-- End Process round front -->
					<!-- Process round Back side -->
					<div class="back">
						<div class="text-line text-line-small"></div>
						<p>We consider every detail to help craft an experience worth sharing.</p>
					</div>
					<!-- End Process round Back side -->
				</div>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="circle circle-selfless">
				<div class="flipper">
					<!-- Process round front -->
					<div class="front">
						<h1><i class="fa fa-code"></i></h1>
						<h4>Develop & Implement</h4>
						<p>Making Ideas Reality</p>
					</div>
					<!-- End Process round front -->
					<!-- Process round Back side -->
					<div class="back">
						<div class="text-line text-line-small"></div>
						<p>We apply our skill to create smart, simple and effective tools.</p>
					</div>
					<!-- End Process round Back side -->
				</div>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="circle circle-selfless">
				<div class="flipper">
					<!-- Process round front -->
					<div class="front">
						<h1><i class="fa fa-plane"></i></h1>
						<h4>Launch & Iterate</h4>
						<p>Pursuing the Potential</p>
					</div>
					<!-- End Process round front -->
					<!-- Process round Back side -->
					<div class="back">
						<div class="text-line text-line-small"></div>
						<p>We add energy, experience and influence to start your project right.</p>
					</div>
					<!-- End Process round Back side -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Process-->
  <%# <%= render 'about_experience' %>

	<!-- Cross footer image -->		
	<%# <%= image_tag "21-content_footer_1.png", class: "parallax-content_footer" %>
	<!-- end of cross footer image -->		
</section>
