<a id="contact-scroll"></a>
<section id="contact" class="skin-primary clearfix">
<%= image_tag "21-content_header_2.png", class: "parallax-content_header" %>
	<div id="contact-holder">
		<!-- Contact section heading -->
		<div class="row">
			<div class="large-12 columns text-center">
				<div class="page-title">
					<h1 id="contact-shuffle-latter">Say hello</h1>
          <p class="sub-header  ">I would love to hear from you!</p>
				</div>
			</div>
		</div>
		<!-- end of Contact section heading -->
		<!-- Contact form -->
		<div id="contact-form" class="row">
			<div class="large-8 large-centered columns">
				<form action="email.php" method="POST" class="ajax-form js-ajax-form">
					<ul class="unstyled">
						<li>
							<label class="lbl-form" for="name">Name</label>
							<input id="name" name="name" placeholder="Name" required="" type="text">
						</li>
						<li>
							<label class="lbl-form" for="business-name">Business Name</label>
							<input id="business-name" name="business-name" placeholder="Business Name" type="text">
						</li>
						<li>
							<label class="lbl-form" for="email">Email Address</label>
							<input id="email" name="email" placeholder="Email Address" required="" type="email">
						</li>
						<li>
							<label class="lbl-form" for="phone">Phone Number</label>
							<input id="phone" name="phone" placeholder="Phone Number" type="tel">
						</li>
						<li>
							<label class="lbl-form" for="enquiry">Enquiry</label>
							<textarea id="enquiry" name="enquiry" placeholder="Enquiry" required=""></textarea>
						</li>
					</ul>
					<button type="submit">SEND</button>
				</form>
			</div>
		</div>
		<!-- End of Contact form -->
		<!-- Social link and contact info -->
		<div class="row">
			<div class="large-8 large-centered columns text-center">
				<ul class="social-links">
					<li>
						<a href="#" target="_blank" title="Twitter">
              <span class="icon-circle large">
                <i class="fa fa-twitter"></i>
              </span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" title="facebook">
							<span class="icon-circle large">
								<i class="fa fa-facebook"></i>
							</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" title="skype">
							<span class="icon-circle large">
								<i class="fa fa-linkedin"></i>
							</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" title="dribbble">
							<span class="icon-circle large">
								<i class="fa fa-github"></i>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="large-10 large-centered columns text-center pad-bottom">
				<div class="contact-info center-text">
				  <ul>
					<li><i class="fa fa-phone"></i>   +1.480.518.7493</li>
					<li><i class="fa fa-envelope"></i>    miles@gringo.io</li>
					<li><i class="fa fa-map-marker"></i>    Silverdale WA 98311</li>
				  </ul>
				</div>
			</div>
		</div>
		<!-- Social link and contact info -->
	</div><!--end of contact-holder-->
	<!-- slide top link  -->
	<div class="slide-top-link hidden-xs">
		<a class="smooth-scroll hidden-xs scroll-to-link" href="#home-scroll"></a>
    </div>
	 <!-- end of slide top link  -->
</section>
