<footer class="footer skin-secondary clearfix">
		<div class="row">
			<div class="large-12 columns text-center">
				<p class="text-white copy-text">&copy; Copyright 2013 Birva Design Studio</p>
			</div>
		</div>
</footer>
