<a id="home-scroll"></a>
<section id="home" class="skin-primary clearfix">
	<div id="home-slider">
		<!-- Home Slider -->
		<ul class="slides">
			<li class="first">
				<!-- Slid Content -->
				<div class="row slide-content">
					<div class="large-10 large-centered columns text-center">
						<div class="banner-title title">
							<h1 class="fadeInUp"><span class="sideline"></span>I AM MILES STARKENBURG <span class="sideline"></span></h1>
							<h2 class="fadeInUp">web developer </h2>
						</div>
						<a class="smooth-scroll" href="#about-scroll">
							<div class="btn">SHOW ME MORE</div>
						</a>
					</div>
				</div>
				<!-- End Slid Content -->
				<!-- Slid Image -->
				<%= image_tag "head_bg.jpg", class: "slider-bg", alt: "Slider Background" %>
				<!-- End Slid Image -->
			</li>
			<!-- <li class="second"> -->
			<!-- 	<!&#45;&#45; Slid Content &#45;&#45;> -->
			<!-- 	<div class="row slide&#45;content"> -->
			<!-- 		<div class="large&#45;10 large&#45;centered columns text&#45;center"> -->
			<!-- 			<div class="banner&#45;title title"> -->
			<!-- 				<h1 class="fadeInUp"><span class="sideline"></span>I LIKE TO WATCH MOVIE<span class="sideline"></span></h1> -->
							<!-- <h2 class="fadeInUp">web designer <%# image_tag "04&#45;and.png", height: "32", width: "19"%> front&#45;end developer </h2> -->
			<!-- 			</div> -->
			<!-- 			<a class="smooth&#45;scroll" href="#about&#45;scroll"> -->
			<!-- 				<div class="btn">SHOW ME MORE</div> -->
			<!-- 			</a> -->
			<!-- 		</div> -->
			<!-- 	</div> -->
			<!-- 	<!&#45;&#45; End Slid Content &#45;&#45;> -->
			<!-- 	<!&#45;&#45; Slid Image &#45;&#45;> -->
			<!-- 	<%# image_tag "head_bg.jpg", class: "slider&#45;bg", alt: "Slider Background" %> -->
			<!-- 	<!&#45;&#45; End Slid Image &#45;&#45;> -->
			<!-- </li> -->
			<!-- <li class="third"> -->
			<!-- 	<!&#45;&#45; Slid Content &#45;&#45;> -->
			<!-- 	<div class="row slide&#45;content"> -->
			<!-- 		<div class="large&#45;10 large&#45;centered columns text&#45;center"> -->
			<!-- 			<div class="banner&#45;title title"> -->
			<!-- 				<h1 class="fadeInUp"><span class="sideline"></span>I AM A BIKE RIDER<span class="sideline"></span></h1> -->
      <!--         <h2 class="fadeInUp">web designer <%# image_tag "04&#45;and.png", height: "32", width: "19"%> front&#45;end developer </h2> -->
			<!-- 			</div> -->
			<!-- 			<a class="smooth&#45;scroll" href="#about&#45;scroll"> -->
			<!-- 				<div class="btn">SHOW ME MORE</div> -->
			<!-- 			</a> -->
			<!-- 		</div> -->
			<!-- 	</div> -->
			<!-- 	<!&#45;&#45; End Slid Content &#45;&#45;> -->
			<!-- 	<!&#45;&#45; Slid Image &#45;&#45;> -->
			<!-- 	<%# image_tag "water_bg.jpg", class: "slider&#45;bg", alt: "Slider Background" %> -->
			<!-- 	<!&#45;&#45; End Slid Image &#45;&#45;> -->
			<!-- </li> -->
		</ul>
	</div>
</section>
<!--end of Home section-->
