<div id="parallax1" class="parallax clearfix">
	<div class="parallax1-teaser-bg parallax-bg">
  </div>
	<div class="info-container">
		<div class="info">
      <h1><span>AWARD</span><span> WINNING</span><br><span>DESIGN</span></h1>  
		</div>
	</div>
</div>
