<div id="parallax2" class="parallax clearfix">
  <div class="parallax2-teaser-bg parallax-bg">
  </div>
  <div class="info-container">
    <div class="info">
      <h1><span>CREATE</span><span> AWESOME</span><br><span>STUFF</span></h1>  
    </div>
  </div>
</div>
