<a id="services-scroll"></a>
<section id="services" class="skin-primary clearfix">
	<!-- Service section HEading-->
<%= image_tag "21-content_header_2.png", class: "parallax-content_header" %>
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="page-title">
				<h1 id="services-shuffle-latter">Services</h1>
				<p class="sub-header">I love building and rebuilding brands.</p>
			</div>
		</div>
	</div>
	<!-- End of Service section Heading-->
	<!-- section Description -->
	<div class="row">
		<div class="large-8 large-centered columns page-description-second">
			<p>
				Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates molestiae non recusandae. Debitis aut rerum necessitatibus saepe eveniet ut et voluptates molestiae non recusandae.
			</p>
		</div>
	</div>
	<!-- End of section Description -->
	<!-- service slider -->
	<div class="row service-slider">
		<!--Inidvidual service-->
		<div class="service">
			<div class="service-container text-center">
				<i class="fa fa-tint"></i>
				<h5>Interface Design</h5>
				<p class="text-white">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores .
				</p>
				<ul class="unstyled">
					<li>Brochure Websites</li>
					<li>Web Apps</li>
					<li>Mobile Apps</li>
				</ul>
			</div>
		</div>
		<!--end of inidvidual service-->
		<!--end of inidvidual service-->
		<div class="service">
			<div class="service-container text-center">
				<i class="fa fa-stack-exchange"></i>
				<h5>CMS</h5>
				<p class="text-white">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores .
				</p>
				<ul class="unstyled">
					<li>Umbraco</li>
					<li>Expression Engine</li>
					<li>Wordpress, Orchard</li>
					<li>Drupal, Joomla</li>
				</ul>
			</div>
		</div>
		<!--end of inidvidual service-->
		<!--inidvidual service-->
		<div class="service">
			<div class="service-container text-center">
				<i class="fa fa-tablet"></i>
				<h5>Mobile</h5>
				<p class="text-white">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores .
				</p>
				<ul class="unstyled">
					<li>iOS</li>
					<li>Android</li>
					<li>Windows</li>
				</ul>
			</div>
		</div>
		<!--end of inidvidual service-->
		<!--inidvidual service-->
		<div class="service">
			<div class="service-container text-center">
				<i class="fa fa-tablet"></i>
				<h5>Brand Creation</h5>
				<p class="text-white">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores .
				</p>
				<ul class="unstyled">
					<li>iOS</li>
					<li>Android</li>
					<li>Windows</li>
				</ul>
			</div>
		</div>
		<!--end of inidvidual service-->
	</div>
	<!-- End of service slider -->
	<!-- <!&#45;&#45; service section Action button &#45;&#45;> -->
	<!-- <div class="row action pad&#45;bottom"> -->
	<!-- 	<div class="large&#45;8 large&#45;centered columns text&#45;center"> -->
	<!-- 		<h2>Let us know if there is anything that may inspire me.</h2> -->
	<!-- 		<div class="btn">SAY HEY!</div> -->
	<!-- 	</div> -->
	<!-- </div> -->
	<!-- <!&#45;&#45; End of service section Action button &#45;&#45;> -->
<%= render 'testimonials' %>
</section>
