	<!-- =========== * testimonial section * =========== -->
	<div id="testimonials" class="skin-primary clearfix">
		<!--slider row-->
		<div class="row pad-large">
			<!-- slider -->
			<div id="testimonials-slider">
				<ul class="slides">
					<li>
						<div class="large-9 large-centered columns">
							<p class="text-white"><i class="testi-icon fa fa-quote-left"></i>
								neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, quis autem vel eum iure reprehenderit qui in ea voluptate velit. sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							</p>
							<h5>- joan rowlins</h5>
						</div>
					</li>
					<li>
						<div class="large-9 large-centered columns">
							<p class="text-white"><i class="testi-icon fa fa-quote-left"></i>
								Ut enim ad minima veniam, quis nostrum exercitationem ullam laboriosam, nisi ut aliquid ex ea commodi consequatur? cum soluta nobis est eligendi optio cumque nihil impedit. Quis autem vel eum iure reprehenderit qui in ea voluptate velit.
							</p>
							<h5>- Mark Simkin</h5>
						</div>
					</li>
					<li>
						<div class="large-9 large-centered columns">
							<p class="text-white"><i class="testi-icon fa fa-quote-left"></i>
								Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas labore et dolore magnam aliquam quaerat voluptatem. .
							</p>
							<h5>- Amy Brentman</h5>
						</div>
					</li>
				</ul>
			</div>
			<!-- End slider -->
		</div>
