<div id="parallax3" class="parallax clearfix">
		<!-- section background -->
	<%= image_tag "21-content_footer_2.png", class: "parallax-content_footer" %>
		<div class="parallax3-teaser-bg parallax-bg"></div>
		<div class="info-container">
			<div class="info">
				<div class="row">
					<div class="large-8 large-centered columns livet">
						<div class="twitter_author"><a href="https://twitter.com/gringocl" target="_blank"><i class="fa fa-twitter"></i></a></div>
						<!-- Twitter load : important do not remove -->
						<div id="tweets">
						</div>
						<!-- End of Twitter load -->
					</div>
				</div>
			</div>
		</div>
	</div>
