<a id="work-scroll"></a>
<section id="work" class="pad-normal  skin-secondary clearfix">
<%= image_tag "21-content_header_1_rev.png", class: "parallax-content_header" %>
	<!-- Work section Heading-->
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="page-title">
				<h1 id="work-shuffle-latter">Some of my works</h1>
				<p class="sub-header  ">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet</p>
			</div>
		</div>
	</div>
	<!-- End of Work section Heading-->
	<!-- Work section Description -->
	<div class="row">
		<div class="large-8 large-centered columns page-description ">
			<p>
				Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates molestiae non recusandae. Debitis aut rerum necessitatibus saepe eveniet ut et voluptates molestiae non recusandae.
			</p>
		</div>
	</div>
	<!-- End of Work section Description -->
	<!-- Work section fullscreen grid -->
	<div class="clearfix">
		<!-- Work Filter option -->
		<div class="row">
			<div class="large-12 columns text-center">
				<ul id="filters" class="cat-list">
				  <li class="filter btn active" data-filter="all">all</li>
				  <li class="filter btn" data-filter="web-design">Web</li>
				  <li class="filter btn" data-filter="ui-design">Print</li>
				  <li class="filter btn" data-filter="branding">Branding</li>
				</ul>
			</div>
		</div>
<%# <%= render 'thumbs' %>
		<!--end of slider row-->
<%# <%= render 'clients' %>
	</div>
	<%= image_tag "21-content_footer_2.png", class: "parallax-content_footer" %>
</section>
