<h2>Project View</h2>
<ul>
  <li><%= @project.name  %></li>
  <li><%= @project.technologies_used  %></li>
</ul>
<%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' }  %>
